.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.logo {
  max-width: 350px; /* Adjust size as needed */
  height: auto;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: white;
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 16px;
}

.form-actions {
  margin-top: 24px;
  margin-bottom: 16px;
}

.server-error {
  margin-top: 16px;
  text-align: center;
}

.spinner {
  display: inline-block;
  margin-right: 8px;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 16px;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 16px;
}

mat-card-actions {
  padding: 16px;
}
